.wrapper{
    width:600px ;
    height: 800px;
    border-radius: 20px;
    background-color:var(--background-button-radius);
        margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}